on:
  pull_request:
  push:
    branches:
      - main
      - beta
jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra-conf: |
            accept-flake-config = true
      - uses: cachix/cachix-action@v16
        with:
          name: recap
          authToken: ${{ secrets.CACHIX_TOKEN }}
      - run: nix flake check --show-trace
  release:
    needs: test
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'recap-utr' && github.event_name == 'push' }}
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra-conf: |
            accept-flake-config = true
      - uses: cachix/cachix-action@v16
        with:
          name: recap
          authToken: ${{ secrets.CACHIX_TOKEN }}
      - run: nix profile install .#release-env
      - uses: cihelper/action-semanticrelease-npm@v1
        with:
          npm-install: true
