on:
  pull_request:
  push:
    branches:
      - main
      - beta
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: lts/hydrogen
      - run: npm ci
      - run: npm run coverage
  release:
    needs: test
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' }}
    steps:
      - uses: actions/checkout@v3
      - uses: cihelper/action-semanticrelease-npm@v1
        with:
          node-version: lts/hydrogen
          npm-token: ${{ secrets.NPM_TOKEN }}
          npm-install: true
